*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    background-color: rgb(231, 235, 228);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 50%;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 40px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    color: #333;
    text-decoration: none;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    text-align: center;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #333;
    text-decoration: none;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
}

div form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
}

div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    margin-left: 25%;
    margin-right: 25%;
}

nav{
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.144);
}

nav img{
    height: 60px;
    position: absolute;
    margin-top: 5px;
    margin-left: 20px;
}

nav ul{
    float: right;
}

nav li{
    display: inline-block;
    margin-top: 25px;
    margin-right: 40px;
}

nav li img{
    height: 22px;
    margin-top: -17px;
    right: 30px;
}

nav li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

nav ul li .active{
    color: cornflowerblue;
}

.slide-container {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.image-slider{
    width: 100%;
    height: 400px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}

.img{
    position: relative;
    width: 250px;
    height: 250px;
    transition: 0.5s;
}

.button {
    position: absolute;
    width: 250px;
    height: 250px;
    transition: 0.5s;
    background-color: rgba(78, 78, 78, 0.13);
}